.albumShowContainerBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 44px;
}

.albumShowLeftSide {
  width: 376px;
}

.albumShowAlbumTitle {
  font-size: 28px;
  color: rgb(54, 54, 54);
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 8px;
  margin-right: 30px;
}

.albumShowRightSide {
  width: 350px;
}

.albumShowRightSide .albumCover {
  width: 350px;
  height: 350px;
}
