.albumFormContainer {
  background-color: #dddddd;
}

.albumFormBody {
  width: 915px;
  padding: 35px 30px 45px 30px;
  margin: 0 auto;
  background-color: white;
}

.albumFormHeading {
  font-size: 17.58px;
  font-weight: 700;
  line-height: 21.641px;
  margin-bottom: 13px;
}

.albumFormInputItem {
  padding-bottom: 10px;
}

.albumFormBox label {
  color: rgb(105, 105, 105);
  font-size: 12px;
  font-weight: 500;
  line-height: 13.2px;
  padding-top: 5.4px;
  padding-right: 10px;
  text-align: right;
  width: 155.094px;
  display: inline-block;
  vertical-align: top;
}

.albumFormTextBox {
  width: 360px;
  border:1px solid #9c9c9c;
  border-color:#9c9c9c #9c9c9c #ccc #ccc;
  margin:0px;
  padding:0.3em;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
}

.albumFormFilebox, .albumFormSongFilebox {
  color: rgb(6, 135, 245);
}

::-webkit-datetime-edit {
  width: 96px;
  height: 14px;
  padding: 3px;
}

::-webkit-datetime-edit-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.albumFormTextArea {
  width: 360px;
  height: 48px;
  padding: 3px;
  border-color: rgb(204, 204, 204);
  font-size: 12px;
}

.albumFormSongItem {
  padding-top: 5px;
  padding-bottom: 5px;
}

.albumFormSongRow {
  margin-bottom: 5px;
  margin-top: 5px;
}

.albumFormList a {
  color: rgb(6, 135, 245);
  cursor: pointer;
  line-height: 14.772px;
  font-size: 12px;
  display: inline-block;
  margin-left: 165.09px;
  width: 369.19px;
  padding-bottom: 5px;
}

.albumFormSongItem a {
  border-bottom: 1px solid rgb(204, 204, 204);
}

.albumFormTrackBox {
  width: 25px;
  border:1px solid #9c9c9c;
  border-color:#9c9c9c #9c9c9c #ccc #ccc;
  margin:0px;
  padding:0.3em;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
}

.deleteAlbumButton {
  color: #fc0c00;
  cursor: pointer;
  line-height: 14.772px;
  font-size: 12px;
  display: inline-block;
  margin-left: 5px;
}

.albumFormButtons {
  margin-left: 165.094px;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 18px;
}

.albumFormSubmitBtn, .albumFormCancelBtn {
  color:#0687f5;
  text-decoration:none;
  cursor:pointer;
  margin-right: 0.5em;
  padding: 0.25em;
  text-align:center;
  border: 1px solid silver;
  background: white;
  font-size: 18px;
  display: inline-block;
  width: 83px;
}

.albumFormSubmitBtn {
  height: 33px;
}

.albumFormCancelBtn {
  height: 22px;
  line-height: 22px;
}

.albumFormSubmitBtn:hover, .albumFormCancelBtn:hover {
  text-decoration:underline;
}
