.artistShowPageBodyBox {
  width: 975px;
  margin: 0 auto;
  min-height: 980px;
}

.artistCoverImage {
  height: 180px;
  object-fit: cover;
  object-position: 50% 50%;
}

.showPageContentBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.artistShowBox {
  padding-right: 29px;
  margin-top: 44px;
  width: 120px;
  height: 264px;
}
