.artistShowContainer {
  width: 120px;
}

.profilePic {
  height: 120px;
  width: 120px;
  object-fit: cover;
  object-position: 50% 50%;
}

.artistShowName {
  font-size:14px;
  font-weight:bold;
  border-top:0;
  margin:0 0 3px;
  display:inline-block;
}

.artistProfilePic, .artistShowName {
  width: 120px;
}
