.mainHeaderLeft .searchBarContainer input {
  height: 19px;
  width: 204px;
  padding-right: 21px;
  padding-left: 5px;
}

.mainHeaderLeft .searchBarContainer {
  height: 43px;
  margin-top: 0px;
}

.mainHeaderLeft .searchBarContainer .searchBarBox {
  line-height: 43px;
}

.mainHeaderLeft .searchBarContainer .searchBarBox .searchIcon {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 5px;
  top: 3px;
}

.searchBarContainer input {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(190, 190, 190);
  border-radius: 3px;
  color: rgba(22, 17, 19, 0.7);
  font-size: 13px;
  height: 24px;
  width: 208px;
  padding-right: 28px;
  padding-left: 10px;
  -webkit-font-smoothing: antialiased;
}

.searchBarContainer {
  width: 248px;
  margin-top: 24px;
}

.searchBarBox {
  position: relative;
}

.searchIcon {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 12px;
  top: 5px;
}

.searchResultList {
  width: 246px;
  position: absolute;
  z-index: 1;
  border-left: 1px solid rgb(190, 190, 190);
  border-right: 1px solid rgb(190, 190, 190);
  border-bottom: 1px solid rgb(190, 190, 190);
}

.searchResultText {
  // width: 184px;
  display: flex;
  flex-direction: column;
  height: 50px;
  padding-left: 6px;
}

.searchResultText span {
  width: 170px;
  height: 14px;
  margin-top: 0px;
}

.boldSearchHeader {
  color: rgb(22, 17, 19);
  font-size: 11px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  padding-bottom: 4px;
}

.searchListItem {
  width: 234px;
  padding: 4px 6px 4px 6px;
  height: 50px;
  font-size: 11px;
  -webkit-font-smoothing: antialiased;
  background-color: rgba(255, 255, 255, 0.98);
}

.searchListItem:hover {
  background-color: rgb(237, 241, 242);
}

.searchListItem a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.searchListItem img {
  width: 50px;
  height: 50px;
}

.dropdown-content {
  top: 49px;
  border-right: 1px solid rgb(204, 204, 204);
  border-bottom: 1px solid rgb(204, 204, 204);
  border-left: 1px solid rgb(204, 204, 204);
  display: none;
  position: absolute;
  z-index: 1;
}
