.sessionHeaderBox {
  background-color: rgb(221, 221, 221);
}

.sessionHeaderBox, .homeHeaderBox {
  height: 105px;
  width: 100%;
}

.sessionHeaderBox .logoImage {
  min-width: 705px;
  max-width: 1106px;
  margin: 0 auto;
  width: 83%;
  padding-top: 44px;
}

.homeHeaderBox {
  background-color: rgba(255, 255, 255, 0.98);
}

.headerTopRow, .greetingBox, .greeting-usernamelogout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  min-width: 705px;
  max-width: 1106px;
  width: 83%;
  margin: 0 auto;
}

.headerTopRow img {
  width: 171px;
  height: 25px;
  margin-top: 24px;
}

.headerTopRow span {
  margin-top: 24px;
}

.greetingBoilerplate {
  color:#408ea3;
  font-size:16px;
  font-weight:500;
  margin:18px 0 0;
  opacity:1;
  transition:opacity .2s ease;
}

.greeting-buttons {
  margin: 18px 0 0;
}

.greeting-buttons a:first-child {
  padding-right: 12px;
}

.greeting-buttons a:last-child {
  border-left-color: rgb(229, 229, 229);
  border-left-width: 1px;
  border-left-style: solid;
  padding-left: 11px;
}

.greeting-buttons a, .greeting-logoutbutton, .greeting-usershowlink {
  color: #161113;
  font-weight: 700;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}

.greeting-usershowlink {
  padding-left: 10px;
}

.greeting-usernamelogout {
  margin-top: 18px;
}

.greeting-buttons a:hover, .greeting-logoutbutton:hover, .greeting-usershowlink:hover {
  text-decoration:underline;
}

.greeting-username {
  border-right:1px solid #e5e5e5;
  padding:0 10px 0 0;
  display:inline-block;
  line-height:21px;
  color: rgb(119, 119, 119);
  font-size: 14px;
}
