.homePageContainer {
  background-color: rgb(238, 242, 243);
}

.homePageBodyBox {
  width: 1106px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.homePageArtistListBox {
  padding-top: 36px;
}

.homePageArtistListHeader, .homePageAlbumListHeader {
  padding-top: 36px;
  color: rgb(64, 142, 163);
  font-size: 14px;
  font-weight: 500;
  line-height: 17.2308px;
}

.artistListItem, .artistListItem a {
  width: 232px;
}

.artistListItem {
  margin-right: 30px;
}

.homePageAlbumListBox .albumListUL {
  width: 1106px;
  padding-left: 0px;
}

.homePageArtistListBox .profilePic {
  height: 232px;
  width: 232px;
}

.homePageArtistListBox .artistShowName {
  width: 232px;
}

.artistListUL {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
